.section-1 {
  background-image: url("../assets/img/bg-yellow-rect.png");
  box-shadow: inset 0 5px 5px -5px #000000;
  &__title {
    font-family: "PT Sans", "Arial", sans-serif;
    @include font($size: 3.7rem, $weight: 400);
    text-transform: uppercase;
    color: white;
  }
  & .content-wrapper {
    display: flex;
    flex-direction: column;
  }
  & .blocks-wrapper {
    display: flex;
    justify-content: space-between;
  }

  & .description-block {
    width: 340px;
    height: 232px;
    background-color: $color-background;
    position: relative;
    &__text {
      font-family: "Segoe WP Light", "Arial", sans-serif;
      @include font($size: 2.9rem, $height: 3.3rem, $weight: 100);
      padding: 10px 20px;
      color: white;
    }
    &__plus {
      position: absolute;
      font-size: 22px;
      color: white;
      right: 15px;
      bottom: 5px;
    }
  }

  & .video-block {
    display: flex;
    & .video {
      width: 315px;
      height: 232px;
    }
  }

  & .twitter-block {
    width: 330px;
    height: 232px;
    background-color: $color-background;
    position: relative;

    display: flex;
    justify-content: center;

    &__plus {
      position: absolute;
      font-size: 22px;
      color: white;
      right: 15px;
      bottom: 5px;
    }

    &__amount {
      position: absolute;
      font-family: "Segoe WP Light", "Arial", sans-serif;
      @include font($size: 2.5rem, $weight: 100);
      color: white;
      right: 15px;
      top: 10px;
    }
    &__img {
      align-self: center;
    }
  }

  & .twitter-post {
    display: none;
  }

  & .date {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ddb101;
    padding: 15px 25px 0;
    &__day {
      margin: 0;

      font-family: "Segoe UI Bold", "Arial", sans-serif;
      @include font($size: 5.1rem, $height: 3.8rem, $weight: 700);
      color: white;
    }

    &__month {
      font-family: "Segoe UI", "Arial", sans-serif;
      @include font($size: 2.1rem, $height: 3.4rem, $weight: 400);
      color: #b26529;
      text-transform: uppercase;
    }
  }
  & .range-slider-wrapper {
    padding: 40px 0 20px 0;
    align-self: center;
  }
  & .range-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 900px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
  }

  & .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 180px;
    height: 16px;

    background-color: #ec9e03;
    border-radius: 8px;
  }

  & .range-slider::-moz-range-thumb {
    width: 180px;
    height: 16px;

    background-color: #ec9e03;
    border: 1px solid #ec9e03;
    border-radius: 8px;

    cursor: pointer;
  }
}

@include media-laptop {
  .section-1 {
    background: #fff;
    &__title {
      display: none;
    }
    .blocks-wrapper {
      display: flex;
      flex-direction: column;
    }
    .video-block {
      padding: 20px 0;
      .description-block {
        flex-grow: 1;
        margin-right: 20px;
      }
      &__player {
        width: 100%;
        max-width: 315px;
        max-height: 100%;
      }
    }
    .twitter-block {
      background: $color-primary;
      width: 100%;
      display: flex;
      justify-content: space-around;
      &__amount,
      &__plus {
        display: none;
      }
      &__img {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
    .twitter-post {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__item {
        margin: 0 auto;
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        width: 255px;
        margin-bottom: 15px;
        padding: 5px 0px 5px 10px;
        font-family: "Arial", sans-serif;
        @include font($size: 1.3rem, $height: 1.6rem);
        color: #8f8e8e;

        border-radius: 10px;
      }

      &__item:before {
        content: "";
        position: absolute;
        height: 20px;
        width: 10px;
        bottom: 10px;
        left: -10px;

        border-left: 10px solid rgb(255, 255, 255);
        border-bottom-left-radius: 10px 4px;
      }

      &__item:after {
        content: "";

        position: absolute;

        height: 20px;
        bottom: 15px;
        left: -14px;

        width: 14px;

        background: $color-primary;
        border-bottom-right-radius: 10px;
      }

      &__item:first-child {
        background-color: rgba(255, 255, 255, 1);
      }

      &__item:nth-child(2) {
        background-color: rgba(255, 255, 255, 0.7);
      }
      &__item:nth-child(2):before {
        border-left: 10px solid rgba(255, 255, 255, 0.7);
      }

      &__item:nth-child(3) {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &__item:nth-child(3):before {
        border-left: 10px solid rgba(255, 255, 255, 0.5);
      }

      &__entries {
        display: flex;
        justify-content: center;
      }
      &__input {
        width: 190px;
        height: 28px;

        background-color: #fff;
        border: 1px solid $color-primary;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &__btn {
        width: 65px;
        margin: 0;
        font-size: 1.5rem;
        color: #fff;
        background: $color-background;
        border: 1px solid $color-primary;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        cursor: pointer;
      }
    }

    .range-slider-wrapper {
      display: none;
    }
    .date {
      display: none;
    }
  }
}

@include media-tablet {
  .section-1 {
    .video-block {
      .description-block {
        flex-grow: 1;
        margin: 0 20px;
      }
      &__player {
        display: none;
      }
    }
    .twitter-block {
      &__img {
        display: flex;
        justify-content: center;
        img {
          max-width: 120px;
        }
      }
    }
    .twitter-post {
      width: 100%;
    }
  }
}

@include media-mobile {
  .section-1 {
    .twitter-block {
      &__img {
        display: none;
      }
    }
  }
}
