@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  src: local("Asap Regular"), local("Asap-Regular"),
    url("./../assets/fonts/Asap-Regular.otf") format("otf");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe IU"), url("./../assets/fonts/SegoeUI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe IU Bold"),
    url("./../assets/fonts/SegoeUI-Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe WP";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe WP"), url("./../assets/fonts/SegoeWP.woff") format("woff");
}

@font-face {
  font-family: "Segoe WP Light";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe WP"),
    url("./../assets/fonts/segoe-wp-light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("./../assets/fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    url("./../assets/fonts/open-sans-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
    url("./../assets/fonts/pt-sans-narrow-v11-latin-700.woff2") format("woff2"),
    url("./../assets/fonts/pt-sans-narrow-v11-latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), url("./../assets/fonts/PTS55F.ttf") format("truetype");
}
