.logo {
  display: flex;
  align-items: center;
  &__img {
    max-width: 84px;
    max-height: 84px;
  }
  &__text {
    color: #ffffff;
    text-align: center;

    font-family: "Lucida Sans", "Arial", sans-serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.47);
  }
}
