$color-primary: #f5c505;
$color-additional: #9b7d08;
$color-background: #ec9e03;
$color-dark: #474747;

$content-width: 1020px;
$desltop-width: 1300px;

$tablet-width: 640px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
